body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    min-height: 100vh;
}

// header
.header {
    width: 100%;
    position: relative;

    // header navbar
    .header-nav {
        width: 100%;
        padding: 10px 0px;

        .container {
            width: 100%;

            .header-nav-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-left-side {
                    width: 100%;

                    a {
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                }

                .nav-right-side {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    .header-nav-buttons {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: 50px;

                        .button {
                            margin-right: 10px;
                        }

                        .burger-menu {
                            justify-content: center;
                            align-items: center;
                            display: none;

                            i {
                                font-size: 20px;
                            }
                        }

                    }

                    .header-nav-location {
                        i {
                            margin-right: 5px;
                            font-size: 20px;
                        }

                        span {
                            margin-right: 5px;
                        }
                    }

                }

            }
        }
    }
}

// main 
.main {

    // hero
    .hero {
        padding-top: 100px;
        padding-bottom: 120px;
        width: 100%;
        display: flex;
        align-items: center;

        .container {
            width: 100%;

            .hero-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .hero-content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .hero-image {

                        img {
                            max-width: 450px;
                            width: 100%;

                        }
                    }

                    h1 {
                        text-align: center;
                        font-weight: 200;
                        font-size: 23px;
                        padding-top: 30px;
                    }

                    .search-box {
                        margin-top: 30px;
                        height: 45px;
                        width: 550px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid $dark-color;
                        border-radius: $button-radius;
                        padding: 10px 0px;
                        overflow: hidden;

                        .search-box-text {
                            display: flex;
                            align-items: center;
                            justify-content: start;

                            input {
                                border: none;
                                background-color: transparent;
                                outline: none;
                                width: 340px;
                            }
                        }

                        .search-box-options {
                            height: 50px;
                            background-color: $dark-color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 5px;
                            width: 50px;

                            &>i:nth-child(2) {
                                display: none;
                            }

                            i {
                                justify-content: center;
                                width: 100px;
                                color: $light-color;
                                cursor: pointer;
                            }
                        }

                        .search-box-search {
                            width: 100px;
                            height: 50px;
                            background-color: $dark-color;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            button {
                                outline: 0;
                                border: 0;
                                color: $light-color;
                                background: transparent;
                            }
                        }
                    }

                    .advanced-search {
                        display: none;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 15px;
                        padding: 20px;
                        margin-top: 20px;

                        .search-field-wrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: start;


                            ul {
                                width: 100%;
                                display: flex;
                                justify-content: start;
                                flex-direction: column;
                                align-items: start;
                                text-align: left;
                                min-height: 150px;
                                max-height: 150px;
                                overflow: scroll;
                                padding-top: 5px;

                                li {
                                    width: 100%;
                                    padding: 7px;
                                    border-bottom: 1px solid gray;
                                    cursor: pointer;

                                    &:last-child {
                                        border: none;
                                    }
                                }

                            }

                            div {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-bottom: 2px solid $dark-color;
                                padding-bottom: 7px;
                                margin-bottom: 7px;

                                i {
                                    padding: 5px;
                                }

                                i:nth-child(3) {
                                    display: none;
                                }
                            }


                        }
                    }
                }
            }
        }
    }
}


// footer

.footer {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;

    .footer-wrapper {
        width: 100%;
        background: $dark-color;
        color: $light-color;

        .container {
            padding: 10px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .footer-links {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    padding: 0 12px;
                    cursor: pointer;

                    &:nth-child(2),
                    &:nth-child(3) {
                        border-left: 1px solid $light-color;

                    }
                }
            }
        }
    }
}