*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  background: #F5F5F5; }

p {
  line-height: 1.7; }

a {
  text-decoration: none;
  color: #1e1e1e; }

ul,
li {
  list-style: none; }

body {
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 1400px;
  padding: 0px 15px;
  margin: 0 auto; }

.button {
  outline: none;
  padding: 7px 18px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2px;
  border: 1px solid #1e1e1e; }

.button-light {
  background-color: #F5F5F5;
  color: #1e1e1e; }

.button-dark {
  background-color: #1e1e1e;
  color: #F5F5F5; }

.search-field-wrapper {
  padding: 7px 18px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 2px;
  border: 1px solid #1e1e1e;
  background-color: #F5F5F5;
  color: #1e1e1e;
  font-size: 12px;
  width: 100%; }
  .search-field-wrapper .search-field {
    outline: none;
    border: none;
    background: none;
    width: 100%; }

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  min-height: 100vh; }

.header {
  width: 100%;
  position: relative; }
  .header .header-nav {
    width: 100%;
    padding: 10px 0px; }
    .header .header-nav .container {
      width: 100%; }
      .header .header-nav .container .header-nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .header .header-nav .container .header-nav-wrapper .nav-left-side {
          width: 100%; }
          .header .header-nav .container .header-nav-wrapper .nav-left-side a {
            text-transform: capitalize;
            font-weight: 600; }
        .header .header-nav .container .header-nav-wrapper .nav-right-side {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: end; }
          .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 50px; }
            .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons .button {
              margin-right: 10px; }
            .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons .burger-menu {
              justify-content: center;
              align-items: center;
              display: none; }
              .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons .burger-menu i {
                font-size: 20px; }
          .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-location i {
            margin-right: 5px;
            font-size: 20px; }
          .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-location span {
            margin-right: 5px; }

.main .hero {
  padding: 200px 0;
  width: 100%;
  display: flex;
  align-items: center; }
  .main .hero .container {
    width: 100%; }
    .main .hero .container .hero-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .hero .container .hero-wrapper .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        .main .hero .container .hero-wrapper .hero-content .hero-image img {
          max-width: 580px;
          width: 100%; }
        .main .hero .container .hero-wrapper .hero-content h1 {
          text-align: center;
          font-weight: 200;
          font-size: 23px;
          padding-top: 30px; }
        .main .hero .container .hero-wrapper .hero-content .search-box {
          margin-top: 30px;
          height: 45px;
          width: 550px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #1e1e1e;
          border-radius: 20px;
          padding: 10px 0px;
          overflow: hidden; }
          .main .hero .container .hero-wrapper .hero-content .search-box .search-box-text {
            display: flex;
            align-items: center;
            justify-content: start; }
            .main .hero .container .hero-wrapper .hero-content .search-box .search-box-text input {
              border: none;
              background-color: transparent;
              outline: none;
              width: 340px; }
          .main .hero .container .hero-wrapper .hero-content .search-box .search-box-options {
            height: 50px;
            background-color: #1e1e1e;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            width: 50px; }
            .main .hero .container .hero-wrapper .hero-content .search-box .search-box-options > i:nth-child(2) {
              display: none; }
            .main .hero .container .hero-wrapper .hero-content .search-box .search-box-options i {
              justify-content: center;
              width: 100px;
              color: #F5F5F5; }
          .main .hero .container .hero-wrapper .hero-content .search-box .search-box-search {
            width: 100px;
            height: 50px;
            background-color: #1e1e1e;
            display: flex;
            align-items: center;
            justify-content: center; }
            .main .hero .container .hero-wrapper .hero-content .search-box .search-box-search button {
              outline: 0;
              border: 0;
              color: #F5F5F5;
              background: transparent; }
        .main .hero .container .hero-wrapper .hero-content .advanced-search {
          display: none;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 15px;
          padding: 20px;
          margin-top: 20px; }
          .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start; }
            .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper ul {
              width: 100%;
              display: flex;
              justify-content: start;
              flex-direction: column;
              align-items: start;
              text-align: left;
              min-height: 150px;
              max-height: 150px;
              overflow: scroll;
              padding-top: 5px; }
              .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper ul li {
                width: 100%;
                padding: 7px;
                border-bottom: 1px solid gray; }
                .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper ul li:last-child {
                  border: none; }
            .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper div {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 2px solid #1e1e1e;
              padding-bottom: 7px;
              margin-bottom: 7px; }
              .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper div i {
                padding: 5px; }
              .main .hero .container .hero-wrapper .hero-content .advanced-search .search-field-wrapper div i:nth-child(3) {
                display: none; }

.footer {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center; }
  .footer .footer-wrapper {
    width: 100%;
    background: #1e1e1e;
    color: #F5F5F5; }
    .footer .footer-wrapper .container {
      padding: 10px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .footer .footer-wrapper .container .footer-links {
        display: flex;
        justify-content: center;
        align-items: center; }
        .footer .footer-wrapper .container .footer-links li {
          padding: 0 12px;
          cursor: pointer; }
          .footer .footer-wrapper .container .footer-links li:nth-child(2), .footer .footer-wrapper .container .footer-links li:nth-child(3) {
            border-left: 1px solid #F5F5F5; }

@media (max-width: 800px) {
  .header .header-nav .container .header-nav-wrapper {
    justify-content: space-between; }
    .header .header-nav .container .header-nav-wrapper .nav-left-side {
      display: none; }
    .header .header-nav .container .header-nav-wrapper .nav-right-side {
      justify-content: space-between; }
      .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons .burger-menu {
        display: flex; }
  .main .hero .container .hero-wrapper .hero-content .hero-image img {
    max-width: 460px; }
  .main .hero .container .hero-wrapper .hero-content .search-box {
    width: 480px; }
    .main .hero .container .hero-wrapper .hero-content .search-box .search-box-text input {
      width: 300px; }
    .main .hero .container .hero-wrapper .hero-content .search-box .search-box-search {
      width: 90px; }
    .main .hero .container .hero-wrapper .hero-content .search-box .search-box-options i {
      width: 90px; }
  .main .hero .container .hero-wrapper .hero-content .advanced-search {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
    width: 100%; }
  .main .footer .footer-wrapper .container {
    flex-direction: column; }
    .main .footer .footer-wrapper .container .footer-links {
      margin-top: 10px; } }

@media (max-width: 550px) {
  .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons button {
    display: none; }
  .header .header-nav .container .header-nav-wrapper .nav-right-side .header-nav-buttons .burger-menu {
    display: flex; }
  .main .hero .container .hero-wrapper .hero-content .hero-image img {
    max-width: 350px; }
  .main .hero .container .hero-wrapper .hero-content h1 {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 10px; }
  .main .hero .container .hero-wrapper .hero-content .search-box {
    width: 360px; }
    .main .hero .container .hero-wrapper .hero-content .search-box .search-box-text input {
      width: 200px; }
    .main .hero .container .hero-wrapper .hero-content .search-box .search-box-search {
      width: 80px; }
    .main .hero .container .hero-wrapper .hero-content .search-box .search-box-options i {
      width: 80px; }
  .footer .footer-wrapper .container {
    flex-direction: column; }
    .footer .footer-wrapper .container .footer-links li {
      padding: 0 5px;
      cursor: pointer; }
      .footer .footer-wrapper .container .footer-links li:nth-child(2), .footer .footer-wrapper .container .footer-links li:nth-child(3) {
        border-left: 1px solid #F5F5F5; } }
