@media (max-width:800px) {

    // header
    .header {
        .header-nav {
            .container {
                .header-nav-wrapper {
                    justify-content: space-between;

                    .nav-left-side {
                        display: none;
                    }

                    .nav-right-side {
                        justify-content: space-between;

                        .header-nav-buttons {
                            .burger-menu {
                                display: flex;

                            }
                        }
                    }
                }
            }

        }
    }

    .main {

        // hero
        .hero {
            .container {
                .hero-wrapper {
                    .hero-content {
                        .hero-image {
                            img {
                                max-width: 460px;
                            }
                        }

                        .search-box {
                            width: 480px;

                            .search-box-text {
                                input {
                                    width: 300px;
                                }
                            }

                            .search-box-search {
                                width: 90px;
                            }

                            .search-box-options {

                                i {
                                    width: 90px;

                                }
                            }
                        }

                        .advanced-search {
                            grid-template-columns: repeat(1, 1fr);
                            margin-top: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .footer {

            .footer-wrapper {

                .container {

                    flex-direction: column;

                    .footer-links {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}